# Config Cloudinary
CLOUDINARY_URL=   # YOUR URL CLOUDINARY ENV VARIABLE
CLOUD_NAME=    # YOUR CLOUD NAME CLOUDINARY
API_KEY=    # YOUR API KEY CLOUDINARY
API_SECRET=    # YOUR API SECRET CLOUDINARY

# Port for localhost
PORT=    # YOUR PORT HTTP SERVER

# Config Databases
## This for postgresql
PGCLIENT=   # YOUR PG CLIENT // Ex: postgresql
PGDATABASE=     # YOUR POSTGRES DATABASE
PGUSER=     # YOUR POSTGRES USERNAME
PGPASSWORD=     # YOUR POSTGRES PASSWORD